<a href="https://colab.research.google.com/github/chaiminwoo0223/Data-Analysis/blob/main/02%20-%20example_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df_exam = pd.read_excel('/content/drive/MyDrive/수업/데이터 분석 입문/강의자료/Data/excel_exam.xlsx') # 엑셀 불러오기

In [3]:
df_exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [4]:
sum(df_exam['math']) / 20 # 평균

57.45

In [5]:
sum(df_exam['math']) / len(df_exam['math']) # len 함수를 이용한 평균

57.45

In [6]:
sum(df_exam['math']) / len(df_exam)

57.45

In [7]:
df_exam_novar = pd.read_excel('/content/drive/MyDrive/수업/데이터 분석 입문/강의자료/Data/excel_exam_novar.xlsx') # 엑셀 불러오기

In [8]:
df_exam_novar

   1  1.1  50  98  50.1
0  2    1  60  97    60
1  3    2  25  80    65
2  4    2  50  89    98
3  5    3  20  98    15
4  6    3  50  98    45
5  7    4  46  98    65
6  8    4  48  87    12

In [9]:
df_exam_novar = pd.read_excel('/content/drive/MyDrive/수업/데이터 분석 입문/강의자료/Data/excel_exam_novar.xlsx',header=None) # 변수 이름 없음

In [10]:
df_exam_novar

   0  1   2   3   4
0  1  1  50  98  50
1  2  1  60  97  60
2  3  2  25  80  65
3  4  2  50  89  98
4  5  3  20  98  15
5  6  3  50  98  45
6  7  4  46  98  65
7  8  4  48  87  12

In [11]:
df_csv_exam = pd.read_csv('/content/drive/MyDrive/수업/데이터 분석 입문/강의자료/Data/exam.csv') # CSV 불러오기

In [12]:
df_csv_exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [13]:
df_midterm = pd.DataFrame({'eng':[90,80,60,70],
                          'math':[50,60,100,20],
                          'nclass':[1,1,2,2]})
df_midterm # 데이터 프레임 생성

   eng  math  nclass
0   90    50       1
1   80    60       1
2   60   100       2
3   70    20       2

In [14]:
df_midterm.to_csv("output.csv") # CSV 내보내기

In [15]:
df_midterm.to_csv("output.csv",index=False) # CSV 내보내기(인덱스 없음)