<a href="https://colab.research.google.com/github/chaiminwoo0223/Data-Analysis/blob/main/ex6_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df_raw = pd.read_csv('/content/drive/MyDrive/수업/데이터 분석 입문/강의자료/Data/exam.csv')
df = df_raw.head(10)
df

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65
5   6       2    50       89       98
6   7       2    80       90       45
7   8       2    90       78       25
8   9       3    20       98       15
9  10       3    50       98       45

In [2]:
df['nclass'] # nclass 추출

0    1
1    1
2    1
3    1
4    2
5    2
6    2
7    2
8    3
9    3
Name: nclass, dtype: int64

In [3]:
df['nclass'] == 1 # 1반 확인

0     True
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
9    False
Name: nclass, dtype: bool

In [4]:
df[df['nclass'] == 1] # 1반만 추출

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58

In [5]:
df[df['math'] >= 80] # 수학점수가 80점 이상이면 추출

   id  nclass  math  english  science
6   7       2    80       90       45
7   8       2    90       78       25

In [6]:
df[(df['nclass'] == 1) & (df['math'] >= 50)] # 1반이면서, 수학점수가 50점 이상

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60

In [7]:
df[(df['math'] < 50) | (df['english'] < 50)] # 수학점수가 50점 미만이거나, 영어점수가 50점 미만

   id  nclass  math  english  science
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65
8   9       3    20       98       15

In [8]:
df['id']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: id, dtype: int64

In [9]:
df['nclass']

0    1
1    1
2    1
3    1
4    2
5    2
6    2
7    2
8    3
9    3
Name: nclass, dtype: int64

In [10]:
df[['id','nclass']]

   id  nclass
0   1       1
1   2       1
2   3       1
3   4       1
4   5       2
5   6       2
6   7       2
7   8       2
8   9       3
9  10       3

In [11]:
df['id'] # 시리즈로 추출

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: id, dtype: int64

In [12]:
df[['id']] # 데이터 프레임으로 추출

   id
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

In [13]:
df['math'] # []를 이용해 변수 추출

0    50
1    60
2    45
3    30
4    25
5    50
6    80
7    90
8    20
9    50
Name: math, dtype: int64

In [14]:
df.math # .을 이용해 변수 추출

0    50
1    60
2    45
3    30
4    25
5    50
6    80
7    90
8    20
9    50
Name: math, dtype: int64

In [15]:
df['math'].mean()

50.0

In [16]:
df.math.mean()

50.0

In [17]:
df[df['nclass'] == 1]['math'] # nclass가 1인 행의 math열

0    50
1    60
2    45
3    30
Name: math, dtype: int64

In [18]:
df[df['nclass'] == 1][['math','english']] # nclass가 1인 행의 math, english열

   math  english
0    50       98
1    60       97
2    45       86
3    30       98

In [19]:
# pandas 함수만 사용
df.groupby('nclass')\
  .agg(math    = ('math','mean'),
       english = ('english','mean'))

         math  english
nclass
1       46.25    94.75
2       61.25    84.25
3       35.00    98.00

In [20]:
# pandas 함수와 [] 함께 사용
df.groupby('nclass')[['math','english']].mean()

         math  english
nclass
1       46.25    94.75
2       61.25    84.25
3       35.00    98.00

In [21]:
df = pd.DataFrame({'var1':[1,2,3],
                   'var2':[4,5,6]})
df

   var1  var2
0     1     4
1     2     5
2     3     6

In [22]:
# 인덱스 문자열 지정하기
df = pd.DataFrame({'var1':[1,2,3],
                   'var2':[4,5,6]},
                   index = ['kim','lee','park'])
df

      var1  var2
kim      1     4
lee      2     5
park     3     6

In [23]:
df.loc['kim'] # kim행 추출

var1    1
var2    4
Name: kim, dtype: int64

In [24]:
df.loc[['kim','park']] # kim, park행 추출

      var1  var2
kim      1     4
park     3     6

In [25]:
df.loc['lee','var1'] # lee행의 var1열 추출

2

In [26]:
df.loc[['kim','lee'],'var2'] # kim, lee행의 var2열 추출

kim    4
lee    5
Name: var2, dtype: int64

In [27]:
df.loc[:,'var1']

kim     1
lee     2
park    3
Name: var1, dtype: int64

In [28]:
 # 인덱스 번호가 있는 데이터 프레임
df = df_raw.copy()
df

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [29]:
df.loc[0] # 0행 추출

id          1
nclass      1
math       50
english    98
science    50
Name: 0, dtype: int64

In [30]:
df.loc[2] # 2행 추출

id          3
nclass      1
math       45
english    86
science    78
Name: 2, dtype: int64

In [31]:
df.loc[0] # 시리즈로 추출

id          1
nclass      1
math       50
english    98
science    50
Name: 0, dtype: int64

In [32]:
df.loc[[0]] # 데이터 프레임으로 추출

   id  nclass  math  english  science
0   1       1    50       98       50

In [33]:
df.loc[[0,3,5]] # 0, 3, 5행 추출

   id  nclass  math  english  science
0   1       1    50       98       50
3   4       1    30       98       58
5   6       2    50       89       98

In [34]:
df.loc[0:3] # 0 ~ 3행 추출

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58

In [35]:
df.loc[7:9] # 7 ~ 9행 추출

   id  nclass  math  english  science
7   8       2    90       78       25
8   9       3    20       98       15
9  10       3    50       98       45

In [36]:
df.loc[0:2] # 0 ~ 2행 추출

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78

In [37]:
df.loc[:2] # 첫번째 ~ 2행 추출

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78

In [38]:
df.loc[5:19] # 5 ~19행 추출

    id  nclass  math  english  science
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [39]:
df.loc[5:] # 5 ~ 마지막 행 추출

    id  nclass  math  english  science
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [40]:
df.loc[:] # 첫번째 ~ 마지막 행 추출

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [41]:
df

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [42]:
df.loc[df['nclass'] == 1] # nclass가 1이면 호출

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58

In [43]:
df.loc[df['math'] >= 60] # 수학점수가 60점 이상이면 추출

    id  nclass  math  english  science
1    2       1    60       97       60
6    7       2    80       90       45
7    8       2    90       78       25
10  11       3    65       65       65
14  15       4    75       56       78
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [44]:
df.loc[df['nclass'] == 1,['math','english']] # nclass가 1인 행의 math, english열 추출

   math  english
0    50       98
1    60       97
2    45       86
3    30       98

In [45]:
df.loc[0:3,'math'] # 0 ~ 3행의 math열 추출

0    50
1    60
2    45
3    30
Name: math, dtype: int64

In [46]:
df.iloc[0] # 0행 추출

id          1
nclass      1
math       50
english    98
science    50
Name: 0, dtype: int64

In [47]:
df.iloc[2] # 2행 추출

id          3
nclass      1
math       45
english    86
science    78
Name: 2, dtype: int64

In [48]:
df.iloc[0] # 시리즈로 추출

id          1
nclass      1
math       50
english    98
science    50
Name: 0, dtype: int64

In [49]:
df.loc[[0]] # 데이터 프레임으로 추출

   id  nclass  math  english  science
0   1       1    50       98       50

In [50]:
df.iloc[[0,3,5]] # 0, 3, 5행 추출

   id  nclass  math  english  science
0   1       1    50       98       50
3   4       1    30       98       58
5   6       2    50       89       98

In [51]:
df.iloc[1:5] # 1 ~ 4행 추출

   id  nclass  math  english  science
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65

In [52]:
# 인덱스 문자열이 있는 데이터 프레임
df_label = pd.DataFrame({'var1':[1,2,3],
                         'var2':[4,5,6]},
                        index = ['kim','lee','park'])
df_label

      var1  var2
kim      1     4
lee      2     5
park     3     6

In [53]:
df_label.iloc[0]

var1    1
var2    4
Name: kim, dtype: int64

In [54]:
df.iloc[:,1] # 모든 행의 1열 추출

0     1
1     1
2     1
3     1
4     2
5     2
6     2
7     2
8     3
9     3
10    3
11    3
12    4
13    4
14    4
15    4
16    5
17    5
18    5
19    5
Name: nclass, dtype: int64

In [55]:
df.iloc[:,[1,3]] # 모든 행의 1, 3열 추출

    nclass  english
0        1       98
1        1       97
2        1       86
3        1       98
4        2       80
5        2       89
6        2       90
7        2       78
8        3       98
9        3       98
10       3       65
11       3       85
12       4       98
13       4       87
14       4       56
15       4       98
16       5       68
17       5       78
18       5       68
19       5       83

In [56]:
df.iloc[2,3] # 2행의 3열 추출

86

In [57]:
df.iloc[[0,1],[2,3]] # 0, 1행의 2, 3열 추출

   math  english
0    50       98
1    60       97