<a href="https://colab.research.google.com/github/chaiminwoo0223/Data-Analysis/blob/main/ex4_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
exam = pd.read_csv('/content/drive/MyDrive/수업/데이터 분석 입문/강의자료/Data/exam.csv')
exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [2]:
exam.query('nclass == 1') # 1반인 경우,

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58

In [3]:
exam.query('nclass == 2') # 2반인 경우

   id  nclass  math  english  science
4   5       2    25       80       65
5   6       2    50       89       98
6   7       2    80       90       45
7   8       2    90       78       25

In [4]:
exam.query('nclass != 1') # 1반이 아닌 경우

    id  nclass  math  english  science
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [5]:
exam.query('nclass != 3') # 3반이 아닌 경우

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [6]:
exam.query('math > 50') # 수학점수 50점 초과

    id  nclass  math  english  science
1    2       1    60       97       60
6    7       2    80       90       45
7    8       2    90       78       25
10  11       3    65       65       65
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [7]:
exam.query('math < 50') # 수학점수 50점 미만

    id  nclass  math  english  science
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
8    9       3    20       98       15
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12

In [8]:
exam.query('math == 50') # 수학점수 50점

   id  nclass  math  english  science
0   1       1    50       98       50
5   6       2    50       89       98
9  10       3    50       98       45

In [9]:
exam.query('english >= 50') # 영어점수 50점 이상

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [10]:
exam.query('english <= 80') # 영어점수 50점 이하

    id  nclass  math  english  science
4    5       2    25       80       65
7    8       2    90       78       25
10  11       3    65       65       65
14  15       4    75       56       78
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87

In [11]:
exam.query('nclass == 1 & math >= 50') # 1반 and 수학점수 50점 이상

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60

In [12]:
exam.query('nclass == 2 & english >= 80') # 2반 and 영어점수 80점 이상

   id  nclass  math  english  science
4   5       2    25       80       65
5   6       2    50       89       98
6   7       2    80       90       45

In [13]:
exam.query('math >= 90 | english >= 90') # 수학점수 90점 이상 or 영어점수 90점 이상

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
3    4       1    30       98       58
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
12  13       4    46       98       65
15  16       4    58       98       65

In [14]:
exam.query('math < 90 | english < 50') # 수학점수 90점 미만 or 영어점수 50점 미만

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [15]:
exam.query('nclass == 1 | nclass == 3 | nclass == 5') # 1반 or 3반 or 5반

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [16]:
exam.query('nclass in [1,3,5]') # 1반 or 3반 or 5반

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [17]:
nclass1 = exam.query('nclass == 1')
nclass2 = exam.query('nclass == 2')

In [18]:
nclass1['math'].mean() # 1반 수학 점수 평균

46.25

In [19]:
nclass2['math'].mean() # 2반 수학 점수 평균

61.25

In [20]:
df = pd.DataFrame({'sex'     : ['F','M','F','M'],
                   'country' : ['Korea','China','Japan','USA']})
df

  sex country
0   F   Korea
1   M   China
2   F   Japan
3   M     USA

In [21]:
df.query('sex == "F" & country == "Korea"')

  sex country
0   F   Korea

In [22]:
df.query('sex == "M" & country == "China"')

  sex country
1   M   China

In [23]:
exam['math'].head() # 수학점수 추출

0    50
1    60
2    45
3    30
4    25
Name: math, dtype: int64

In [24]:
exam['english'].head() # 영어점수 추출

0    98
1    97
2    86
3    98
4    80
Name: english, dtype: int64

In [25]:
exam[['nclass','math','english']]

    nclass  math  english
0        1    50       98
1        1    60       97
2        1    45       86
3        1    30       98
4        2    25       80
5        2    50       89
6        2    80       90
7        2    90       78
8        3    20       98
9        3    50       98
10       3    65       65
11       3    45       85
12       4    46       98
13       4    48       87
14       4    75       56
15       4    58       98
16       5    65       68
17       5    80       78
18       5    89       68
19       5    78       83

In [26]:
exam.drop(columns = ['math','english']) # math, english 제거

    id  nclass  science
0    1       1       50
1    2       1       60
2    3       1       78
3    4       1       58
4    5       2       65
5    6       2       98
6    7       2       45
7    8       2       25
8    9       3       15
9   10       3       45
10  11       3       65
11  12       3       32
12  13       4       65
13  14       4       12
14  15       4       78
15  16       4       65
16  17       5       98
17  18       5       90
18  19       5       87
19  20       5       58

In [27]:
exam.query('nclass == 1')['english']

0    98
1    97
2    86
3    98
Name: english, dtype: int64

In [28]:
exam.query('math >= 50')[['id','math']]

    id  math
0    1    50
1    2    60
5    6    50
6    7    80
7    8    90
9   10    50
10  11    65
14  15    75
15  16    58
16  17    65
17  18    80
18  19    89
19  20    78

In [29]:
exam.query('math >= 50')[['id','math']].head()

   id  math
0   1    50
1   2    60
5   6    50
6   7    80
7   8    90

In [30]:
exam.query('math >= 50')[['id','math']].head(10)

    id  math
0    1    50
1    2    60
5    6    50
6    7    80
7    8    90
9   10    50
10  11    65
14  15    75
15  16    58
16  17    65