<a href="https://colab.research.google.com/github/chaiminwoo0223/Data-Analysis/blob/main/ex5_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
exam = pd.read_csv('/content/drive/MyDrive/수업/데이터 분석 입문/강의자료/Data/exam.csv')
exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [2]:
exam['math'].mean()

57.45

In [3]:
exam.agg(mean_math = ('math','mean'))

            math
mean_math  57.45

In [4]:
exam.groupby('nclass')\
    .agg(mean_math = ('math','mean'))

        mean_math
nclass
1           46.25
2           61.25
3           45.00
4           56.75
5           78.00

In [5]:
exam.groupby('nclass',as_index = False)\
    .agg(mean_math = ('math','mean'))

   nclass  mean_math
0       1      46.25
1       2      61.25
2       3      45.00
3       4      56.75
4       5      78.00

In [6]:
exam.groupby('nclass')\
    .agg(mean_math   = ('math','mean'),
         sum_math    = ('math','sum'),
         median_math = ('math','median'),
         n           = ('nclass','count'))

        mean_math  sum_math  median_math  n
nclass
1           46.25       185         47.5  4
2           61.25       245         65.0  4
3           45.00       180         47.5  4
4           56.75       227         53.0  4
5           78.00       312         79.0  4

In [7]:
exam.groupby('nclass').mean()

          id   math  english  science
nclass
1        2.5  46.25    94.75    61.50
2        6.5  61.25    84.25    58.25
3       10.5  45.00    86.50    39.25
4       14.5  56.75    84.75    55.00
5       18.5  78.00    74.25    83.25

In [8]:
mpg = pd.read_csv('/content/drive/MyDrive/수업/데이터 분석 입문/강의자료/Data/mpg.csv')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [9]:
mpg.groupby(['manufacturer','drv'])\
   .agg(mean_cty = ('cty','mean'))

                   mean_cty
manufacturer drv
audi         4    16.818182
             f    18.857143
chevrolet    4    12.500000
             f    18.800000
             r    14.100000
dodge        4    12.000000
             f    15.818182
ford         4    13.307692
             r    14.750000
honda        f    24.444444
hyundai      f    18.642857
jeep         4    13.500000
land rover   4    11.500000
lincoln      r    11.333333
mercury      4    13.250000
nissan       4    13.750000
             f    20.000000
pontiac      f    17.000000
subaru       4    19.285714
toyota       4    14.933333
             f    21.368421
volkswagen   f    20.925926

In [10]:
mpg.query('manufacturer == "audi"')\
   .groupby(['drv'])\
   .agg(n = ('drv','count'))

      n
drv
4    11
f     7

In [11]:
mpg.query('manufacturer == "chevrolet"')\
   .groupby(['drv'])\
   .agg(n = ('drv','count'))

      n
drv
4     4
f     5
r    10

In [12]:
mpg.groupby(['drv'])\
   .agg(n = ('drv','count'))

       n
drv
4    103
f    106
r     25

In [13]:
mpg['drv'].value_counts()

f    106
4    103
r     25
Name: drv, dtype: int64

In [14]:
mpg.query('category == "suv"')\
   .assign(total = (mpg['hwy'] + mpg['cty'] / 2))\
   .groupby('manufacturer')\
   .agg(mean_tot = ('total','mean'))\
   .sort_values('mean_tot',ascending = False)\
   .head()

               mean_tot
manufacturer
subaru        34.416667
toyota        25.437500
nissan        24.875000
mercury       24.625000
jeep          24.375000

In [15]:
# 실습

In [16]:
# 1
mpg.groupby(['category'])\
    .agg(mean_cty = ('cty','mean'))

             mean_cty
category
2seater     15.400000
compact     20.127660
midsize     18.756098
minivan     15.818182
pickup      13.000000
subcompact  20.371429
suv         13.500000

In [17]:
# 2
mpg.groupby(['category'])\
    .agg(mean_cty = ('cty','mean'))\
    .sort_values('mean_cty',ascending = False)

             mean_cty
category
subcompact  20.371429
compact     20.127660
midsize     18.756098
minivan     15.818182
2seater     15.400000
suv         13.500000
pickup      13.000000

In [18]:
# 3
mpg.groupby(['category'])\
    .agg(mean_hwy = ('hwy','mean'))\
    .sort_values('mean_hwy',ascending = False).head(3)

             mean_hwy
category
compact     28.297872
subcompact  28.142857
midsize     27.292683

In [19]:
# 4
mpg.query('category == "compact"')\
   .groupby('manufacturer')\
   .agg(count = ('category','count'))\
   .sort_values('count',ascending = False) # count *****

              count
manufacturer
audi             15
volkswagen       14
toyota           12
subaru            4
nissan            2